# Node
node_modules/
*/node_modules/
.env
*.env.local
*.log
*.sqlite
*.db

# Next.js
.next/
out/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.g.dart
pubspec.lock

# General
.DS_Store
*.swp
